
    body {
      text-align: center;
      margin: 0;
      font-family: sans-serif;
    }
    video {
      width: 640px;
      height: 480px;
      display: block;
      margin: 0 auto;
      transform: scaleX(-1)
    }
    canvas {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      border: 1px solid #ccc;
    }
    h1 {
      margin-top: 40px;
    }
    #container {
      position: relative;
      width: 640px;
      height: 480px;
      margin: 0 auto;
    }
 